.head 
  padding-top: 18px
  padding-bottom: 18px
  display: table
  width: 100%
  > div
    display: table-cell
    vertical-align: middle
.head-logo
  width: 240px
.head-bookmark
  padding: 0px 0px 0px 15px
  text-align: right
  .btn
    font-weight: 700
    padding: 8px 20px 8px 20px
    text-transform: uppercase

.head-nav
  padding: 25px 10px 0px
  text-align: left
  text-align: center
  a
    font-size: 14px
    margin: 0px 10px 0 35px
    padding: 5px 0px
    &::after   
      background-color: #19191a
    span
      margin-left: 5px
      font-weight: 400 

.top-nav
  [class*="ion-"]
    line-height: 50px
    font-size: 17px

  ul, .search, .toggle-bar, input
    background-color: whitesmoke
    border-radius: 25px

  ul, li, div,
    display: inline-block

  ul
    padding: 0 15px
    list-style: none
  
#nav-main li
  margin: 0 15px
  a
    text-transform: uppercase
    padding: 15px 0
    font-size: 14px
  a:after
    background: #2196F3


.toggle-bar
  margin-right: 10px
  &:hover
    box-shadow: inset 0 0 15px rgba(0,0,0,.05)
  &::before
    font-family: 'Ionicons'
    font-size: 16px
    content: '\f20d'
    margin: 0 19px
    line-height: 50px
    
.social
  margin-right: 60px
  a
    padding: 0 10px
    &:hover,&:focus,&:active
      opacity: .7

.search
  position: absolute
  z-index: 999
  right: 15px
  width: 50px
  transition: width .2s ease-in-out
  .ion-close-round
    right: 7px
    position: absolute
    cursor: pointer
    opacity: 0
    padding: 0 10px
    line-height: 50px
    text-align: center
    display: inline-block
    z-index: -22
    transition: opacity .4s ease-in-out 
  &:hover
    box-shadow: inset 0 0 15px rgba(0,0,0,.05)
  &::before
    font-family: 'Ionicons'
    font-size: 16px
    content: '\f21f'
    padding: 0 19px
    line-height: 50px
  form
    position: absolute
    width: 280px
    height: 48px
    right: 0px
    top: 0px
    color: white
    opacity: 0
    transition: opacity .2s ease-in-out 
  input
    padding: 0 14%
    line-height: 50px
    cursor: pointer
    width: 100%
    color: #222
    font-size: 16px
    border-width: 0px
    background-color: transparent
    border: none

.search.active
  width: 280px
  form
    opacity: 1
  input
    cursor: text
  .ion-close-round
    opacity: 1
    z-index: 99