header.container
  .row
    .col-md-12.head
      .head-logo
        a.logo(href='#home')
          img(src='assets/img/logo.svg', alt='Unleash Devices')
      .head-nav.hidden-sm.hidden-xs
        a(href='#latest')
          | LATEST
          span Posts
        a(href='#popular')
          | POPULAR
          span Posts
        a(href='#hot')
          | HOT
          span Posts
        a(href='#trending')
          | TRENDING
          span Posts
      .head-bookmark.hidden-md
        a.btn(href='#') Bookmark Hot
  
  .row
    .col-md-12.top-nav
      #nav-main.hidden-sm.hidden-xs                         
        nav(role='navigation')
          ul
            li
              a(href='#') Home
            li
              a(href='#') Shop
            li
              a(href='#') Blog
            li
              a(href='#') Services
            li
              a(href='#') Contacts
            li
              a(href='#') About us
            li
              a(href='#') Testimonials

      .pull-right
        ul.social
          li
            a(href='#')
              i.ion-social-twitter
          li
            a(href='#')
              i.ion-social-facebook
          li
            a(href='#')
              i.ion-social-instagram-outline
          li
            a(href='#')
              i.ion-social-youtube
          li
            a(href='#')
              i.ion-social-googleplus
              
        .search               
          form(method='get', action='', autocomplete='off')
            input(placeholder='Search...', name='q', type='text')