header
  .header-wrap
    .container
      .row
        .col-md-12
          .head
            .head-logo
              a.logo(href='#home')
                img(src='img/logo.png', alt='Unleash Devices', height='64')
            .head-nav
              a(href='#latest')
                | LATEST
                span Posts
              a(href='#popular')
                | POPULAR
                span Posts
              a(href='#hot')
                | HOT
                span Posts
              a(href='#trending')
                | TRENDING
                span Posts
            .head-bookmark
              a.btn(href='#') Bookmark Hot
      .row
        .col-md-12
          .top-nav