doctype html
html(lang="en")
    
    head
        title Unleash Devices
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        block meta

        // favicon
        link(rel="icon", href="img/favicon.ico", type="image/png")        
        // bootstrap 3.3.7
        link(href="css/bootstrap.min.css", rel="stylesheet")        
        // nunito font
        link(href="https://fonts.googleapis.com/css?family=Nunito:200,400,600,700,900", rel="stylesheet")   
        // ionicons font
        link(href="css/ionicons.min.css", rel="stylesheet")  
    
        block head 
        
        // brew stylesheet
        link(href="css/style.min.css", rel="stylesheet")     
    
    body
        .sidebar-menu
        .content-wrapper
            include ./header.jade

            block content  
        
        // jquery 3.2.1
        script(src="js/jquery.min.js")
        // bootstrap 3.3.7
        script(src="js/bootstrap.min.js")
        // okaynav 2.0.4
        script(src="js/superfish.min.js")
        // antimoderate
        script(src="js/antimoderate.min.js")
        // owl carousel
        script(src="js/owl.carousel.min.js")
        
        block script
        
        // bootstrap 3.3.7
        script(src="js/main.min.js")

        