doctype html
html(lang="en")
    
	head
		title Unleash Devices
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		block meta

		//- favicon
		link(rel="icon", href="img/favicon.ico", type="image/png")        
		//- bootstrap 3.3.7
		link(href="assets/css/bootstrap.min.css", rel="stylesheet")        
		//- nunito font
		link(href="https://fonts.googleapis.com/css?family=Nunito:200,400,600,700,900", rel="stylesheet")   
		//- ionicons font
		link(href="assets/css/ionicons.min.css", rel="stylesheet")
		//- owl carousel
		link(href="assets/css/owl.carousel.min.css", rel="stylesheet")
		//- brew stylesheet
		link(href="assets/css/style.min.css", rel="stylesheet")
		
		//- jquery 3.2.1
		script(src="assets/js/jquery.min.js")
		//- owl carousel
		script(src="assets/js/owl.carousel.min.js")
    
	body
		.content-wrapper
			include ./header.pug
			block content 
			include ./footer.pug

		script(src="assets/js/main.min.js")

