doctype html
html(lang="en")
    
	head
		title Unleash Devices
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		block meta

		// favicon
		link(rel="icon", href="img/favicon.ico", type="image/png")        
		// bootstrap 3.3.7
		link(href="css/bootstrap.min.css", rel="stylesheet")        
		// nunito font
		link(href="https://fonts.googleapis.com/css?family=Nunito:200,400,600,700,900", rel="stylesheet")   
		// ionicons font
		link(href="css/ionicons.min.css", rel="stylesheet")  
		// brew stylesheet
		link(href="css/style.min.css", rel="stylesheet")
		
		// jquery 3.2.1
		script(src="js/jquery.min.js")
		// superfish 1.7.9
		script(src="js/superfish.min.js")
		// owl carousel
		script(src="js/owl.carousel.min.js")     
    
	body
		.content-wrapper
			include ./header.jade
			block content 
			include ./footer.jade

		script(src="js/main.min.js")

