.row.banner
  .col-sm-6
    a.grid-post(href='#') 
      img.bg-img(src='assets/img/grey.jpg')
      .layouts
        span.label.label-default Entertainment
        h2 Stay safe and increase your privacy on internet

  .col-sm-6
    a.grid-post.half(href='#')
      img.bg-img(src='assets/img/grey.jpg')
      .layouts
        span.label.label-default Social media
        h2 Spending quality  time together is very important
    .row.half
      .col-sm-6
        a.grid-post(href='#') 
          img.bg-img(src='assets/img/grey.jpg')
          .layouts
              span.label.label-default Entertainment
              h2 Stay safe and increase your privacy on internet

      .col-sm-6
        a.grid-post(href='#')
          img.bg-img(src='assets/img/grey.jpg')
          .layouts
            span.label.label-default Social media
            h2 Spending quality  time together is very important