.full-carousel
  .owl-carousel
    a.item(href="#", title="title")
      .grid-post
        img.bg-img(src='img/grey.jpg')
        .layouts
          span.label.label-default Security 
          h2 Stay safe and increase your privacy on internet
          p Madars Bitenieks - Jul 16, 2016

    a.item(href="#", title="title")
      .grid-post
        img.bg-img(src='img/grey.jpg')
        .layouts
          span.label.label-default Security 
          h2 Stay safe and increase your privacy on internet
          p Madars Bitenieks - Jul 16, 2016

    a.item(href="#", title="title")
      .grid-post
        img.bg-img(src='img/grey.jpg')
        .layouts
          span.label.label-default Security 
          h2 Stay safe and increase your privacy on internet
          p Madars Bitenieks - Jul 16, 2016

    a.item(href="#", title="title")
      .grid-post
        img.bg-img(src='img/grey.jpg')
        .layouts
          span.label.label-default Security 
          h2 Stay safe and increase your privacy on internet
          p Madars Bitenieks - Jul 16, 2016

    a.item(href="#", title="title")
      .grid-post
        img.bg-img(src='img/grey.jpg')
        .layouts
          span.label.label-default Security 
          h2 Stay safe and increase your privacy on internet
          p Madars Bitenieks - Jul 16, 2016