.row.post-col
  .col-md-4
    h2 
      span Popular Posts
    include ./_grid_small.jade
    include ./_grid_small.jade
    include ./_grid_small.jade
    include ./_grid_small.jade
    include ./_grid_small.jade

  .col-md-4
    h2
      span Popular Posts
    include ./_grid_small.jade
    include ./_grid_small.jade
    include ./_grid_small.jade
    include ./_grid_small.jade
    include ./_grid_small.jade
  
  .col-md-4
    h2
      span Popular Posts
    include ./_grid_small.jade
    include ./_grid_small.jade
    include ./_grid_small.jade
    include ./_grid_small.jade
    include ./_grid_small.jade