.row.post-col
  .col-md-4
    h2 
      span Popular Posts
    include ./_grid_small.pug
    include ./_grid_small.pug
    include ./_grid_small.pug
    include ./_grid_small.pug
    include ./_grid_small.pug

  .col-md-4
    h2
      span Popular Posts
    include ./_grid_small.pug
    include ./_grid_small.pug
    include ./_grid_small.pug
    include ./_grid_small.pug
    include ./_grid_small.pug
  
  .col-md-4
    h2
      span Popular Posts
    include ./_grid_small.pug
    include ./_grid_small.pug
    include ./_grid_small.pug
    include ./_grid_small.pug
    include ./_grid_small.pug