.row
  .col-sm-4
    h2
      span Latest News
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
  .col-sm-4
    h2.text-center
      span Latest Top News
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
  .col-sm-4
    h2.text-right
      span Latest News
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    include ./_poster.pug
    