a.poster(href="#", title="title")
  .grid-post    
    img.bg-img(src='img/grey.jpg')
    .layouts
      span.label.label-default Security

  h2 Stay safe and increase your privacy on internet

  small
    | Madars Bitenieks
    span.text-muted  - Jul 16, 2016